.admin{
    align-items: center;
    display: flex;
    background-color: beige;
}

.image{
    width: 420px;
    height: 520px;
}

.image > img{
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}

.image > img:hover{
  transform: scale(1.15);
}
